.skillsComp {
    margin-top: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.intro {
    margin-top: 60px;
    margin: 100px;
    color: white;
    font-size: 18px;
    text-align: left;
}

.skillsTitle {
    color: white;
    font-size: 40px;
}

@media only screen and (max-width: 400px) {

    .intro {
        font-size: 15px;
        margin: 30px;
    }

}