#contactSection {
    color:white;
    margin-bottom: 100px;
}

.contactComp {
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#contactTitle {
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
}

.txtArea {
    width: 80vw;
    max-width: 500px;
    margin: auto;   
}

.inputSocial {
    display: flex;
    flex-direction: column;
}

.submitBtn {
    width: 100px;
}

.mediaTextCont {
    display: flex;
    flex-direction: row;
    width: 100%
}

.socials {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.social {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.emailEntry {
    margin: 30px;
}

.txtArea {
    margin-top: 20px;
}

.handshake {
    padding-right: 30px;
    border-right: 1px solid black;
    display: inline;
    width: 45%;
}

@media only screen and (max-width: 1200px) {

    .handshake {
        display: none;
    }

    .container {
        width: 100%;
    }
}