.navbar {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 10px;
}

.logo {
    z-index: 1;
    padding: 1em;
    padding-bottom: 0;
}

.logo h1 {
    font-size: 2em
}

.navigators {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap
}

.navigators h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter ;
    padding: 1em;
    font-size: 1em;
}

.blurry {
    width: 100%;
    height: 50px;
    position: absolute;
    backdrop-filter: blur(10px);
}