.title {
    color: white;
    background-color: black
}

.title h2 {
    padding-top: 1em;
    font-size: 60px;
}

.title img {
    width: 100%
}

.projects {
    color: white;
    background-color: black;
} 

.project_one {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.project_two {
    /* width: 90%; */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-bottom: 30px;

}

.project_three {
    /* width: 90%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.txt {
    margin: auto;
    width: 60%; 
}

.projects h2 {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}

.projects p {
    margin:auto;
    font-family: "Oxygen";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #968B8B;
    width: 50%;
}

.imgWrapper {
    width: 40%;
    min-width: 280px;
}

.imgWrapper img {
    width: 100%
}

@media only screen and (max-width: 400px) {
    .txt {
        width: 80%
    }

    .txt p {
        font-size: 15px ;
    }
  }

