.presenter {
  /* font-family: 'Yeseva One', cursive;  */
  height: 650px;
  width: 100%;
  z-index: 0;
  color: white;
  background-image: url("./forest.png");
  background-position: center;
}

#hey {
  font-size: 80px;
  font-family: 'Bungee', cursive;
}

#im {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

#leftSpace {
  width: 50%;
}

#rightSpace {
  width: 50%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title h1 {
  font-size: 64px;
}

.title h3 {
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
}

