.presenter {
    font-family: 'Fira Sans', sans-serif;    /* font-family: 'Cinzel', serif; */
    height: 900px;
    width: 100%;
    position: absolute;
    z-index: 0;
    color: white;
    background-image: url("/background.png");
}

.title {
  margin-top: 35%;
}
