.presenter {
    font-family: 'Fira Sans', sans-serif;    /* font-family: 'Cinzel', serif; */
    height: 900px;
    width: 100%;
    z-index: 0;
    color: white;
    /* background-image: url("/background.png"); */
    background-color: black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%
}

